script type='text/javascript' src='js/jqconsole-2.7.min.js'
script type='text/javascript' src='js/bootstrap.min.js'
script type='text/javascript' src='js/knockout-2.1.0.js'
script type='text/javascript' src='js/underscore-min.js'
script type='text/javascript' src='js/async.min.js'
script type='text/javascript' src='js/highlight.min.js'
script type='text/javascript' src='js/codemirror-compressed.js'
script type='text/javascript' src='js/typer.js'
script type='text/javascript' src='js/cmdparse.js'
script type='text/javascript' src='js/github-api.js'
script type='text/javascript' src='js/index.js'

link rel='stylesheet' type='text/css' href='css/codemirror.css'
link rel='stylesheet' type='text/css' href='css/monokai.css'
link rel='stylesheet' type='text/css' href='css/monokai.min.css'

